
h1 {text-align: center;
    color: blue;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    background-color: yellow; }


.link {font-size: 30px;
       font-weight: bold;
       }

.first.link {
    display: block;
    text-align: left;
}
       
.second.link {
    display: block;
    text-align: center;
}

.third.link {
    display: block;
    text-align: right;
}
